.popup_container {
    position: absolute;
    max-width: 100% !important;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
}

.cross-popup {
    position: absolute;
    right: 10px;
    top: 8px;
    padding: 0px 8px;
    border-radius: 50%;
    cursor: pointer;
    color: #20263c;
    box-shadow: 0 0 5px 2px #c6c6c6;
    /* width: 100% !important; */
    z-index: 100;
    /* background: rgba(0, 0, 0, 0.7); */
}

.cross_popup {
    cursor: pointer;
    right: 10px;
    top: 10px;
}

.graph_container {
    width: 100%;
    background: white;
    overflow: hidden;
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: 4px;
}

.graph_wrapper {
    display: flex;
    justify-content: center;
    width: 40%;
    margin-right: 3rem;
}

.left_wrapper {
    width: 50%;
    margin: 0;
    margin-top: 1rem;
}
.line_chart {
    width: 100%;
}
.goog-te-banner-frame.skiptranslate {
    display: none !important;
    } 
body {
    top: 0px !important; 
    }
.goog-logo-link {
    display: none !important;
}
.goog-te-banner-frame.skiptranslate {
    display: none !important;
    } 
  body {
    top: 0px !important; 
    }
    .goog-logo-link {
      display:none !important;
   }
   
   .goog-te-gadget {
     color: transparent !important;
     position: relative;
     top: 5px;
   }
   
   .goog-te-gadget .goog-te-combo {
    color: #ffffff !important;
    background: #1778ca !important;
    border: 0;
    padding: 6px;
    border-radius: 3px;
    outline: none;
    font-weight: bold;
   }
   #goog-gt-tt {
     display: none !important;
   }